.saveTheDateDiv {
  @media screen and (min-width: 600px) {
    width: 80%;
  }
  @media screen and (max-width: 599px) {
    width: 100%;
  }
  margin: 0 auto;
}

.durationDisplay {
  @media screen and (min-width: 600px) {
    font-size: 20pt;
    margin-top: 20px;
  }
  @media screen and (max-width: 599px) {
    font-size: 18pt;
    margin-top: 0px;

  }
	font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  font-size: 44px;
  color: white;
  width: 100%;
  text-align: center;
}

#saveTheDateImg {
  @media screen and (min-width: 600px) {
    display: block;
  }
  @media screen and (max-width: 599px) {
    display: none;
  }
}

#saveTheDateMobileImg {
  @media screen and (min-width: 600px) {
    display: none;
  }
  @media screen and (max-width: 599px) {
    display: block;
  }
}

#MainContainer {
  margin: 0 auto;
  width: 1600px;
  padding: 50px;
  height: 100%;
}

#MainContent {
  height: 850px;
  position: relative;
}

#background {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -999; /* Ensure div tag stays behind content; -999 might work, too. */

  img {
    width: 100%;
    filter: brightness(85%);
  }
}

#MenuBar {
  :global(.navbar-brand) {
    font-size: 24pt;
    font-family: American Typewriter, serif;
  }
  border-color: white;
  background-color: white;
  margin-bottom: 0px;
}

.contentBox {
  background-color: rgba(0,0,0,0.5);
  border-style: solid;
  border-width: 3px;
  border-color: rgba(255, 255, 255, 1);
  border-radius: 3px;
  padding: 10px;
  color: white;
}

#appWrapper {
  padding: 30px;
}

#MenuDate {
  font-family: American Typewriter, serif;
  color: gray;
  font-size: 18pt;
}
