.saveTheDateDiv {
  @media screen and (min-width: 600px) {
    width: 80%;
  }
  @media screen and (max-width: 599px) {
    width: 100%;
  }
  margin: 0 auto;
}

.durationDisplay {
  @media screen and (min-width: 600px) {
    font-size: 20pt;
    margin-top: 20px;
  }
  @media screen and (max-width: 599px) {
    font-size: 18pt;
    margin-top: 0px;

  }
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  width: 100%;
  text-align: center;
}

#saveTheDateImg {
  @media screen and (min-width: 600px) {
    display: block;
  }
  @media screen and (max-width: 599px) {
    display: none;
  }
}

#saveTheDateMobileImg {
  @media screen and (min-width: 600px) {
    display: none;
  }
  @media screen and (max-width: 599px) {
    display: block;
  }
}

.mainContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: -999; /* Ensure div tag stays behind content; -999 might work, too. */

  img {
    height: 100%;
  }
}

.MenuBar {
  :global(.navbar-brand) {
    font-size: 28pt;
  }
}
