.durationDisplay {
  font-size: 20pt;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}
